<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Roger You">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Roger You professional website">
  <title>Roger You</title>

</head>
<body style="font-family: Arial">
  <header>
    <h1>Roger You</h1>
    <nav>
      <a href = "../index.html">Home </a>
      <a href = "cv.html">CV</a>
      <a href = "contact.html">Contact Me</a>
      <a href = "fun.html">For Fun</a>
    </nav>
  </header>

  <div class = "main"> 
    <h2>Contact Me</h2>
    <form action = "/submit" method = "post">
      <label for="Name">Name:</label>
      <input type = "text" id = "name" name = "name" required><br><br>

      <label for="email">Email:</label>
      <input type = "email" id = "email" name = "email" required><br><br>

      <label for="comment">Your Comment:</label>
      <textarea id="comment" name="comment" rows="8" cols="30" required></textarea>

      <input type="submit" value="send">
    </form>

    <b>Contact Method Description</b> <br>
    Email<br>
    Phone <br>
    LinkedIn

  </div>

  <footer>
    Copyright @ rogeru
  </footer>
  
</body>

</html>