<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Roger You">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Roger You professional website">
  <title>Roger You</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src = "../static/script.js" defer></script>

</head>     
<body style="font-family: Arial">
  <header>
    <h1 id = "rogeryou">Roger You</h1>
    <nav>
      <a href = "../index.html" class = "nav">Home </a>
      <a href = "cv.html" class = "nav">CV</a>
      <a href = "contact.html" class = "nav">Contact Me</a>
      <a href = "fun.html" class = "nav">For Fun</a>
    </nav>
  </header>

  <div class = "main"> 
    <h2 id="dynamicHeader">Things I love to do for fun</h2>
    <ul>
      <li>film stuff.</li>
      <li>hoop.</li>
      <li>introspection.</li>
      <li>journal.</li>
    </ul>
  </div>

  <footer>
    Copyright @ rogeru
  </footer>
  
</body>

</html>